button {
    text-decoration: none;
    cursor: pointer;
}

.initialButton {
    font-size: 25px;
    padding: 30px;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 5px;
    transition: all 0.2s;
    width: 275px;
}

.initialButton span {
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.initialButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.2s;
}

.initialButton:hover {
    background-color: #555555;
    color: white;
    padding-right: 40px;
}

.initialButton:hover span:after {
    opacity: 1;
    right: 0.7;
}

.buttonBoxGameRoom {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.inputDiv {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.input {
    height: 50px;
    width: 250px;
    font-size: 25px;
    font-style: inherit;
    border-block-end-color: rgba(56, 72, 77, 0.5);
    ;
}

h3 {
    font-style: initial;
    color: rgb(51, 43, 43, 0.8);
    display: flex;
    justify-content: center;
}

.playerList {
    width: 300px;
    margin-left: 550px;
    margin-top: 50px;
    background: radial-gradient(circle, rgba(51, 43, 43, 0.1) 0%, rgba(72, 84, 98, 0.1)100%);
    border: groove;
    overflow: scroll;
    height: 350px;
}