.gameRoomDivContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.h3Bar {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.gameRoomButtonDiv {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    padding: 50px;
}

.gameRoomPlayerList {
    display: flex;
    flex-basis: auto;
    background-color: rgba(56, 72, 77, 0.5);
    width: 300px;
    height: 400px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    border-style: ridge;
    border-color: rgba(252, 70, 107, .4);
    overflow: scroll;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}