.gameRoomAddbutton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: aliceblue;
    background: rgba(241, 229, 65, 0.923406862745098);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #c7bfc1;
    transition: .2s;
    font-family: 'Times New Roman', Times, serif;
}

.gameRoomAddbutton:hover {
    background: rgba(249, 212, 35, 0.861782212885154);
}

.gameRoomAddbutton:active {
    background: rgba(248, 54, 0, 0.9374124649859944);
    box-shadow: 0 5px #33343b;
    transform: translateY(4px);
    color: aliceblue;
}

.gameRoomStartButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: aliceblue;
    background: rgba(241, 229, 65, 0.923406862745098);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #c7bfc1;
    transition: .2s;
}

.gameRoomStartButton:hover {
    background: rgba(249, 212, 35, 0.861782212885154);
}

.gameRoomStartButton:active {
    background: rgba(248, 54, 0, 0.9374124649859944);
    box-shadow: 0 5px #33343b;
    transform: translateY(4px);
    color: aliceblue;
}

.spanInButtonDiv {
    width: 20px;
}