.gameRoomDivContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.h3Bar {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    margin-top: 2%;
    font-family: 'Rakkas', cursive;
    color: aliceblue;
    position: relative;
}

.gameRoomButtonDiv {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    padding: 50px;
    position: relative;
}

.gameRoomPlayerList {
    display: flex;
    flex-basis: auto;
    background: rgba(56, 72, 77, 0.2);
    width: 300px;
    height: 300px;
    align-self: center;
    font-family: 'Rakkas', cursive;
    border: groove;
    overflow: scroll;
    color: aliceblue;
    font-size: 25px;
    position: relative;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}