.gameRoomAddbutton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: aliceblue;
    background: rgba(182, 148, 202, .8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #c7bfc1;
    transition: .2s;
    font-family: 'Times New Roman', Times, serif;
}

.gameRoomAddbutton:hover {
    background: rgba(207, 108, 201, .8);
}

.gameRoomAddbutton:active {
    background: rgba(238, 96, 156, .8);
    box-shadow: 0 5px #33343b;
    transform: translateY(4px);
    color: aliceblue;
}

.gameRoomStartButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: aliceblue;
    background: rgba(238, 96, 156, .8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #c7bfc1;
    transition: .2s;
}

.gameRoomStartButton:hover {
    background: rgba(207, 108, 201, .8);
}

.gameRoomStartButton:active {
    background: rgba(182, 148, 202, .8);
    box-shadow: 0 5px #33343b;
    transform: translateY(4px);
    color: aliceblue;
}

.spanInButtonDiv {
    width: 20px;
}