.playerDivContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background: linear-gradient(90deg, rgba(179, 176, 169, 0.6741071428571428) 15%, rgba(155, 76, 173, 0.8813900560224089) 50%, rgba(69, 252, 236, 0.5116421568627452) 85%);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.deleteButton {
    border-radius: 50%;
    background-color: aliceblue;
    color: black;
    box-shadow: 0 9px #c7bfc1;
    outline: none;
}

.deleteButton:active {
    transform: translateY(4px);
    box-shadow: 0 5px #999;
}