button {
    text-decoration: none;
    cursor: pointer;
}

.initialButton {
    font-size: 25px;
    padding: 35px;
    border-radius: 12px;
    background: radial-gradient(circle, rgba(238, 96, 156, 1) 0%, rgba(182, 148, 202, 1) 26%, rgba(207, 108, 201, 1) 66%);
    color: aliceblue;
    border: 2px solid aliceblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 5px;
    transition: all 0.2s;
    width: 290px;
    position: relative;
    font-family: 'Rakkas', cursive;
    outline: none;
}

.initialButton span {
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.initialButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

.initialButton:hover {
    background: radial-gradient(circle, rgba(182, 148, 202, 1) 0%, rgba(207, 108, 201, 1) 48%, rgba(238, 96, 156, 1) 66%);
    color: black;
    border: 2px solid black;
    padding-right: 30px;
}

.initialButton:hover span:after {
    opacity: 1;
    right: 0.7;
}

.buttonBox {
    display: flex;
    justify-content: center;
    padding: 225px;
    flex-flow: row;
}

.popup-content {
    background: red !important;
    border: dotted !important;
    font-family: 'Rakkas', cursive !important;
}

.closeButton {
    float: right;
    outline: none;
}

.closeButton:hover {
    background-color: black;
    color: aliceblue;
}