.StartGameDivContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.StartGamePickPlayerDiv {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    padding: 40px;
}

.playerNameDiv {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-self: center;
    width: 250px;
    height: 90px;
    background: rgba(56, 72, 77, 0.2);
    border: groove;
    overflow: hidden;
    position: relative;
}

h1 {
    position: absolute;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: aliceblue;
}

.StartGameRuleButtonDiv {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-content: center;
    margin-top: 60px;
}

.optionDiv {
    display: flex;
    justify-content: center;
    flex-basis: auto;
    align-self: center;
    width: 500px;
    height: 100px;
    background: rgba(56, 72, 77, 0.2);
    border: groove;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: aliceblue;
    overflow: scroll;
    font-size: 130%;
    color: aliceblue;
}