.StartGamebuttonBox {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-flow: row;
}

.StartGamebuttonBox2 {
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-flow: row;
}

.playerNameDiv {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 90px;
    margin-left: 585px;
    background: rgba(56, 72, 77, 0.2);
    border: groove;
    font-family: 'Times New Roman', Times, serif;
}

.optionDiv {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 60px;
    margin-left: 33%;
    background: rgba(56, 72, 77, 0.2);
    border: groove;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red
}