.startGamePickPlayerButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: aliceblue;
    background: rgba(241, 229, 65, 0.923406862745098);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #c7bfc1;
    font-family: 'Times New Roman', Times, serif;
    transition: .2s;
}

.startGamePickPlayerButton:hover {
    background: rgba(249, 212, 35, 0.861782212885154);
}

.startGamePickPlayerButton:active {
    background: rgba(248, 54, 0, 0.9374124649859944);
    box-shadow: 0 5px #33343b;
    transform: translateY(4px);
    color: aliceblue;
}

.opButton {
    position: relative;
    background: rgba(255, 0, 0, 0.8281687675070029);
    border: none;
    font-size: 28px;
    color: aliceblue;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border:solid;
    border-color:aliceblue;
}

.opButton:hover {
    color: black;
    border-color: black;
    border: solid;
}

.opButton:after {
    content: "";
    background: black;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.opButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.opButtonSpan {
    width: 40px;
}